@model nightClub.Web.Models.Bar
@{
    ViewBag.Title = "Add Product";
}
<section>
    <div class="container d-flex justify-content-center" data-aos="fade-up">
        <div class="col-md-8 mt-5">
            <h2>Add a product</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @using (Html.BeginForm("Create", "Bar", FormMethod.Post, new { @id = "GalleryForm " }))
            {
                <div class="form-group mt-3">
                    @Html.TextBoxFor(m => m.Url, new
                    {
                        placeholder = "Image Url",
                        title = "Enter image url",
                        name = "image",
                        id = "image",
                        @class = "form-control"
                    })
                    @Html.ValidationMessageFor(m => m.Url, "", new { @class = "text-danger" })
                </div>

                <div class="form-group mt-3">
                    @Html.TextBoxFor(m => m.Title, new
                    {
                        placeholder = "Title",
                        title = "Give a name to the Photo",
                        name = "name",
                        id = "name",
                        @class = "form-control"
                    })
                    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mt-3">
                    @Html.TextAreaFor(m => m.Category, new
                    {
                        placeholder = "Category",
                        title = "Choose the category",
                        name = "address",
                        id = "address",
                        @class = "form-control"
                    })
                    @Html.ValidationMessageFor(m => m.Category, "", new { @class = "text-danger" })
                </div>

                <div class="form-group mt-3">
                    @Html.TextAreaFor(m => m.Alcohol, new
                    {
                        placeholder = "Alcohol",
                        title = "Enter the percentage of alcohol in the product",
                        name = "alcohol",
                        id = "alcohol",
                        @class = "form-control"
                    })
                    @Html.ValidationMessageFor(m => m.Alcohol, "", new { @class = "text-danger" })
                </div>

                <div class="form-group mt-3">
                    @Html.TextAreaFor(m => m.Price, new
                    {
                        placeholder = "Price",
                        title = "Give a price to the Product",
                        name = "address",
                        id = "address",
                        @class = "form-control"
                    })
                    @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mt-3">
                    @Html.TextAreaFor(m => m.Description, new
                    {
                        placeholder = "Description",
                        title = "Some details about the Photo",
                        name = "address",
                        id = "address",
                        @class = "form-control"
                    })
                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Create" class="btn btn-golden float-end" />
                    <a class="btn btn-outline-secondary" href=@Url.Action("Index")>Back to Bar</a>
                </div>
            }
        </div>
    </div>
</section>


