@using nightClub.Domain.Enums
@model dynamic

<div class="container d-flex align-items-center justify-content-lg-between">

    <h1 class="logo me-auto me-lg-0"><a href="@Url.Action("Index", "Home")">nightClub<span>.</span></a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
            <li><a class="nav-link @(ViewBag.Title == "Home" ? "active" : "")" href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a class="nav-link @(ViewBag.Title == "About" ? "active" : "")" href="@Url.Action("Index", "About")">About</a></li>
            <li class="dropdown">
                <a class="nav-link @(ViewBag.Title == "Services" ? "active" : "")">Services<i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href=@Url.Action("Index","Event")>Events</a></li>
                    <li><a href=@Url.Action("Reservation","Table")>Reservation</a></li>
                    <li><a href=@Url.Action("Index","Bar")>Bar</a></li>
                </ul>
            </li>
            <li><a class="nav-link @(ViewBag.Title == " Gallery" ? "active" : "" )" href="@Url.Action("Index","Gallery")">Gallery</a></li>
            <li><a class="nav-link @(ViewBag.Title == " Staff" ? "active" : "" )" href=@Url.Action("Index", "Staff" )>Staff</a></li>
            <li class="dropdown">
                <a class="nav-link @(ViewBag.Title == " Contact" ? "active" : "" )" href="@Url.Action("Index", "Contact" )">Contact<i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href=@Url.Action("Reviews","Contact")>Reviews</a></li>
                </ul>
            </li>
            @if (ViewBag.CurrentUser.Level == URole.Admin)
            {
                <li class="dropdown">
                    <a><span>AdminPanel</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href=@Url.Action("Index", "Admin" )>Users List</a></li>
                        <li><a href=@Url.Action("Bookings", "Admin")>Bookings</a></li>
                        <li><a href=@Url.Action("Index", "Table")>Table Reservations</a></li>
                        <li class="dropdown">
                            <a href="#"><span>Additional</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href=@Url.Action("NotFound", "Error")>NotFound</a></li>
                                <li><a href=@Url.Action("ThankYou", "Contact")>ThankYou</a></li>
                                <li><a href=@Url.Action("Confirmation", "Table")>Table Confirmation</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            }
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
    @if (System.Web.HttpContext.Current.Session["LoginStatus"] == "login")
    {
        <a href="@Url.Action("Index", "User")">
            <span class="profile-address">@ViewBag.CurrentUser.Username</span>
        </a>
    }
    else
    {
        <a href="@Url.Action("Index", "Login")" class="get-started-btn ">Get Started</a>
    }

</div>