@model nightClub.Web.Models.UserData
@{
    ViewBag.Title = "Edit User";
}
<section>
    <div class="container d-flex justify-content-center" data-aos="fade-up">
        <div class="col-md-8 mt-5">
            <h2>Edit User Info</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { @id = "StaffForm " }))
            {
                <div class="row mt-3">
                    <div class="col-md-6 form-group">
                        @Html.TextBoxFor(m => m.Username, new
                        {
                            placeholder = "UserName",
                            title = "Enter UserName",
                            name = "name",
                            id = "name",
                            @class = "form-control"
                        })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        @Html.TextBoxFor(m => m.Level, new
                        {
                            placeholder = "Level",
                            title = "Enter Access Level",
                            name = "level",
                            id = "level",
                            @class = "form-control"
                        })
                        @Html.ValidationMessageFor(m => m.Level, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 form-group">
                        @Html.TextBoxFor(m => m.Email, new
                        {
                            placeholder = "Email",
                            title = "Enter email",
                            name = "email",
                            id = "email",
                            @class = "form-control"
                        })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        @Html.TextBoxFor(m => m.PhoneNumb, new
                        {
                            placeholder = "Phone Number",
                            title = "Enter phone number",
                            name = "phone",
                            id = "phone",
                            @class = "form-control"
                        })
                        @Html.ValidationMessageFor(m => m.PhoneNumb, "", new { @class = "text-danger" })
                    </div>
                </div>

                
                <div class="form-group mt-3">
                    <input type="submit" value="Save Changes" class="btn btn-golden float-end" />
                    <a class="btn btn-secondary" href=@Url.Action("Index")>Cancel</a>
                </div>
            }
        </div>
    </div>
</section>


