@model dynamic

@{
    ViewBag.Title = "Staff";
}

<section id="staff" class="staff">
    <div class="container" date-aos="fade-up">
        <div class="section-title">
            <h2>Staff List</h2>
        </div>

        <div class="row">
            <div class="table ">
                <p><a href="#">Add New Staff Member</a></p>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Picture</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>PayRate</th>
                        <th>Contact Info</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var staff in Model)
                    {
                        <tr>
                            <td><img src=@staff.ImageUrl alt="Profile Image" width="50" height="50"/></td>
                            <td>@staff.FirstName @staff.LastName</td>
                            <td>@staff.Role</td>
                            <td>@staff.PayRate</td>
                            <td>@staff.ContactInfo</td>
                            <td>
                                <a href="#edit">Edit</a> |
                                <a href="#details">Details</a> |
                                <a href="#delete">Delete</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

